<div class="grid grid-rows-2 gap-3 text-center max-w-[60rem] m-auto">
  <div class="bg-green-50 grid grid-cols-3">
    <div>
      <%= User.count %> Users
    </div>
    <div>
      Search button
    </div>
    <div>
      <%= link_to 'New User', '#' %>
    </div>
  </div>

  <div class="bg-blue-50">
    User list Div
  </div>
</div>