<nav class="grid grid-cols-1 bg-white shadow-lg mb-10">
  <div class="mx-10 my-4">
    <%= link_to 'Users', users_path, class: "text-gray-600 text-2xl font-bold hover:underline hover:text-gray-800" %>
  </div>
</nav>