<!DOCTYPE html>
<html>
  <%= render "shared/head" %>

  <body class="font-mono text-gray-800 bg-slate-150">
    <header>
      <%= render "shared/navbar" %>
    </header>

    <%= yield %>
  </body>
</html>
